{% extends "bases/base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'usuarios/css/css.css' %}" rel="stylesheet">
{% endblock head %}

{% block conteudo %}
    <br>
    <br>
    <div class="container">
        <h3 class="font-destaque">Cadastre-se</h3>

        <!-- Exibir mensagens do Django -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-md-4">
                <form action="{% url 'cadastro' %}" method="POST">
                    {% csrf_token %}

                    <!-- Exibe os erros de validação do Django -->
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <label>Primeiro nome</label>
                    <br>
                    <input type="text" class="input-default" name="primeiro_nome" value="{{ form.primeiro_nome.value|default_if_none:'' }}">
                    <br><br>

                    <label>Último nome</label>
                    <br>
                    <input type="text" class="input-default" name="ultimo_nome" value="{{ form.ultimo_nome.value|default_if_none:'' }}">
                    <br><br>
                    
                    <label>Username</label>
                    <br>
                    <input type="text" class="input-default w100" name="username" value="{{ form.username.value|default_if_none:'' }}">
                    <br><br>
                    
                    <label>E-mail</label>
                    <br>
                    <input type="email" class="form-control" id="email" name="email" value="{{ form.email.value|default_if_none:'' }}">
                    <br><br>
                    
                    <label>Senha</label>
                    <input type="password" class="input-default w100" name="password">
                    <br>
    
                    <label>Confirmar senha</label>
                    <br>
                    <input type="password" class="input-default w100" name="confirm_password">  <!-- Nome corrigido -->
                    <br>
                    <br>
                    <input type="submit" class="btn-default" value="Cadastrar">
                </form>
                <div class="mt-3">
                <p>Já possui uma conta? <a href="{% url 'login' %}">Login</a></p>
                {% comment %} <p>Esqueceu sua senha? <a href="{% url 'recuperar_senha' %}">Recuperar Senha</a></p> {% endcomment %}
            </div>
            </div>
        </div>
    </div>
{% endblock %}
