{% extends "bases/base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'usuarios/css/css.css' %}" rel="stylesheet">
{% endblock head %}

{% block conteudo %}
<br><br>

<div class="container">
    <h3 class="font-destaque">Login</h3>

    <!-- Exibir as mensagens de erro e sucesso -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} custom-alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-4">
            <!-- Corrigido para método POST -->
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                
                <!-- Campo oculto para passar a URL de redirecionamento (next) -->
                <input type="hidden" name="next" value="{{ request.GET.next }}">

                <div class="mb-3">
                    <label for="username">Username ou E-mail</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                    <label class="form-check-label" for="rememberMe">Lembrar de mim por 5 dias</label>
                </div>

                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
            <div class="mt-3">
                <p>Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
                {% comment %} <p>Esqueceu sua senha? <a href="{% url 'recuperar_senha' %}">Recuperar Senha</a></p> {% endcomment %}
            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}
